# Folders to ignore
Daily Notes/
Docker/

# Standard Obsidian ignores
.obsidian/cache/
.obsidian/workspace.json
.obsidian/workspaces.json
.trash/
.obsidian/daily-notes.json
.obsidian/plugins/password-protection/

# Operating system files
.DS_Store
Thumbs.db